
# ---- python build artefacts ----
__pycache__
*.py[cod]
*.so
*.egg-info
*.pyc
*.pyo
*.pyd
.build/
.dist/

# ---- local virtualenvs ----
coyote_v2-env
.venv
venv
.venv311
.venv*/
.env

# ---- vcs ----
.git
.gitignore
.github

# ---- editor / IDE ----
.vscode
.idea

# ---- runtime data ----
data            # this folder is mounted as a *volume* in docker-compose
data/
volumes/
logs
*.db
*.sqlite
*.sqlite3
*.log


