accelerate==0.31.0
aiohttp==3.9.5
aiosignal==1.3.1
amqp==5.2.0
angle-emb==0.4.5
annotated-types==0.6.0
async-timeout==4.0.3
attrs==23.2.0
beautifulsoup4==4.12.3
bert-extractive-summarizer==0.10.1
bertopic==0.16.2
billiard==4.2.1
bitsandbytes==0.43.1
blinker==1.7.0
blis==0.7.11
boltons==24.0.0
catalogue==2.0.10
celery==5.4.0
certifi==2024.2.2
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cloudpathlib==0.16.0
confection==0.1.4
cryptography==43.0.1
cymem==2.0.8
Cython==0.29.37
datasets==2.20.0
dill==0.3.8
docker-pycreds==0.4.0
einops==0.8.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
exceptiongroup==1.2.2
filelock==3.13.3
Flask==3.0.2
Flask-Cors==4.0.0
frozenlist==1.4.1
fsspec==2024.3.1
gensim==4.3.2
gitdb==4.0.11
GitPython==3.1.43
hdbscan==0.8.37
huggingface-hub==0.22.0
idna==3.6
iniconfig==2.0.0
interchange==2021.0.4
isodate==0.6.1
itsdangerous==2.1.2
Jinja2==3.1.3
joblib==1.3.2
keybert==0.8.5
kombu==5.4.2
langcodes==3.3.0
llvmlite==0.43.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
monotonic==1.6
mpmath==1.3.0
multidict==6.0.5
multiprocess==0.70.16
murmurhash==1.0.10
neo4j==5.20.0
networkx==3.3
nltk==3.8.1
numba==0.60.0
numpy==1.26.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.1.105
packaging==24.0
pandas==2.2.2
pansi==2020.7.3
peft==0.11.1
pillow==10.3.0
platformdirs==4.2.2
plotly==5.22.0
pluggy==1.5.0
preshed==3.0.9
prettytable==3.10.0
prompt_toolkit==3.0.48
protobuf==5.27.1
psutil==6.0.0
py2neo==2021.2.4
pyarrow==16.1.0
pyarrow-hotfix==0.6
pycparser==2.22
pydantic==2.6.4
pydantic_core==2.16.3
Pygments==2.17.2
pynndescent==0.5.13
pyparsing==3.1.2
pytest==8.3.3
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
rake-nltk==1.0.6
rdflib==7.0.0
redis==5.2.0
regex==2023.12.25
requests==2.32.3
rich==13.7.1
safetensors==0.4.2
scikit-learn==1.4.1.post1
scipy==1.12.0
sentence-transformers==3.0.1
sentry-sdk==2.6.0
setproctitle==1.3.3
six==1.16.0
smart-open==6.4.0
smmap==5.0.1
soupsieve==2.5
spacy==3.7.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SPARQLWrapper==2.0.0
srsly==2.4.8
sympy==1.12
tenacity==8.4.1
thinc==8.2.3
threadpoolctl==3.4.0
tokenizers==0.15.2
tomli==2.0.2
torch==2.2.2
tqdm==4.66.4
transformers==4.39.1
triton==2.2.0
typer==0.9.4
typing_extensions==4.10.0
tzdata==2024.1
umap-learn==0.5.6
urllib3==2.2.1
vine==5.1.0
wandb==0.17.2
wasabi==1.1.2
wcwidth==0.2.13
weasel==0.3.4
Werkzeug==3.0.1
wrapt==1.16.0
xxhash==3.4.1
yarl==1.9.4
